.mat-dialog-title{
    color: #7d1a65;
    font-size: 27px;
    font-weight: 800;
}

md-dialog-content{
    display: block;
    margin: 0;
    &:after{
        display: block;
        content: "";
        clear: both;
    }
}

.mat-dialog-content{    
    @media (min-width: 768px) {
        padding: 40px;
        padding-bottom: 2rem;
    }
}

.faq-content{
    @media (min-width: 768px) {
        font-size: 18px;
    }
}