:host{
	background: #2B061D;
	display: block;
	color: white;
}


.logo-container{
	padding: 20px;
	border-right: 3px solid white;
}

.footer-content {
	box-sizing: border-box;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    @media (min-width: 992px) {
        width:700px
    }
}

.social-button{
	text-align: center;
	margin-bottom: 10px;
}

.social-networks-links{
	padding:0px 20px;
	@media (min-width: 768px) {
        padding: 0px 50px;
    }
}