<footer class="bg-pattern">
	<div class="container">

		<h3 class="section-title">
			NG COLOMBIA
		</h3>

		<p class="section-sub-title">
			We are waiting for you
		</p>

		<div class="footer-social">
			<ul>
				<li><a href="#"><i class="fa fa-facebook"></i></a></li>
				<li><a href="#"><i class="fa fa-twitter"></i></a></li>
				<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
				<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
				<li><a href="#"><i class="fa fa-instagram"></i></a></li>
			</ul>
		</div>

		<div class="footer-menu">
			<ul>
				<li><a appSmoothScroll navigateToElement="banner" href="./#banner">HOME</a></li>
				<li><a appSmoothScroll navigateToElement="speakers" href="./#speakers">SPEAKERS</a></li>
				<li><a appSmoothScroll navigateToElement="intro" href="./#info">ABOUT</a></li>
				<li><a appSmoothScroll navigateToElement="newsletter" href="./#newsletter">SUBSCRIBE</a></li>
			</ul>
		</div>
	</div>

</footer>