<footer class="container">
	<div class="footer-content" fxLayout="row" fxLayoutAlign="center center">
		<div class="logo-container" fxFlex="45" fxFlex.xs="50">
			<img src="./assets/img/yuxi-logo-2.svg" alt="Yuxi Global" class="img-responsive">

		</div>
		<div class="social-networks-links" fxLayout="row" fxLayoutAlign="center center" fxFlex="55" fxFlex.xs="50" fxLayoutWrap.xs fxLayoutGap="8px" fxLayoutGap.xs="0px">
			<div class="social-button" fxFlex.xs="50">
				<a href="https://twitter.com/yuxiglobal" target="_blank" md-fab class="mat-white-button" >
					<md-icon svgIcon="twitter"></md-icon>
				</a>
			</div>
			<div class="social-button" fxFlex.xs="50">
				<a href="https://www.linkedin.com/company/206286/" target="_blank" md-fab class="mat-white-button" >
					<md-icon svgIcon="linkedin"></md-icon>
				</a>
			</div>
			<div class="social-button"  fxFlex.xs="50">
				<a href="https://www.facebook.com/yuxiglobal1/" target="_blank" md-fab class="mat-white-button">
					<md-icon svgIcon="facebook"></md-icon>
				</a>
			</div>
			<div class="social-button"  fxFlex.xs="50">
				<a href="https://www.instagram.com/yuxiglobal/" target="_blank" md-fab class="mat-white-button">
					<md-icon svgIcon="instagram"></md-icon>
				</a>
			</div>
		</div>
	</div>

</footer>