.footer-menu ul {
    text-align: center;
    li {
        display: inline-block;
        line-height: 12px;
        a {
            background: none;
            color: #AAA;
            padding: 0 15px;
            font-size: 12px;
            text-transform: uppercase;
            border-right: 1px solid #999;
            &:hover {
                color: white;
            }
        }
    }
}
