<footer class="bg-pattern">
	
	<div id="fss-container"></div>
	
	<div class="footer-content">
		<h3 class="section-title">
			NG COLOMBIA
		</h3>
		
		<p class="section-sub-title">
			We are waiting for you
		</p>

		<div class="footer-social">
			<ul>
				<li><a href="#"><i class="fa fa-facebook"></i></a></li>
				<li><a href="#"><i class="fa fa-twitter"></i></a></li>
				<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
				<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
				<li><a href="#"><i class="fa fa-instagram"></i></a></li>
			</ul>
		</div>

		<div class="footer-menu">
			<ul>
				<li><a href="#">About</a></li>
				<li><a href="#">Speakers</a></li>
				<li><a href="#">Become a Sponsor</a></li>
				<li><a href="#">Videos</a></li>
				<li><a href="#">News</a></li>
				<li><a href="#">Contacts</a></li>
			</ul>
		</div>
	</div>

</footer>