.img-main{
	text-align: center;
	padding: 0 40px;

	img{
		margin: auto;
	}
}

.tab-content{
	margin-top: 20px;
}

.tab-buttons {
	text-align: left;

	> a {
		margin-bottom: 10px;
		font-weight: bold;
		text-transform: uppercase;
	}
}

.information-container{
	margin-top: 20px;
}

.section-title {
	text-align: left;
	margin-bottom: 20px;
	
	.ng-colombia-title{
		color: #000;
	}
}