<div class="container">
	<h2 class="section-title">About the Event</h2>
	<p class="section-sub-title">NG Colombia</p>
	<div class="about-us-content" fxLayout="row" fxLayout.xs="column">
		<div class="img-main" fxFlex="50%">
			<img src="./assets/img/angular.png" alt="" class="img-responsive">
		</div>
		<div class="tabs-container" fxFlex="50%">
			<h3>Workshops - Project Sessions - Industry Leaders</h3>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam elit urna, dictum tempus egestas et, dapibus non libero.
				Proin nec dignissim risus, vitae eleifend tellus. Morbi metus ex, faucibus vitae elementum nec, imperdiet semper odio.
				Curabitur porttitor viverra neque, et posuere sem elementum nec. Praesent cursus massa sem, ullamcorper sagittis ex bibendum
				quis. Pellentesque at viverra nisl, finibus ornare mauris. Nunc ultrices massa ut quam bibendum facilisis. Nulla dapibus
				justo sed ornare dignissim. Vivamus urna est, suscipit quis dignissim ac, vulputate ac nunc. Nullam varius cursus nunc,
				et pellentesque magna ullamcorper a.
			</p>
			<blockquote>
				Etiam quis ultricies arcu, eget egestas purus. In venenatis, ligula et laoreet tincidunt, lorem erat accumsan ante, faucibus
				tincidunt lacus sem a tortor.
			</blockquote>
			<p>
				Nullam malesuada bibendum pellentesque. Praesent felis justo, congue vel commodo nec, posuere sit amet ex. Vestibulum justo
				neque, congue eget condimentum non, tempus eget elit. Proin viverra sem ac nisl fringilla, quis maximus purus rutrum.
				Fusce posuere ipsum a finibus scelerisque. Nunc aliquam justo nec imperdiet sollicitudin. Suspendisse sed facilisis enim.
				Aliquam congue tellus tempor dolor commodo, et tempus mi bibendum.
			</p>
		</div>
	</div>
</div>