.img-main{
	text-align: center;

	img{
		margin: auto;
	}
}

.tab-content{
	margin-top: 20px;
}

.tab-buttons {
	text-align: center;

	> a {
		margin-bottom: 10px;
	}
}

.information-container{
	margin-top: 20px;
}