.banner-container{
	height: 100vh;
	color: white;
	background-image: url(/assets/img/bg1.jpg);
	background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}

.banner-title{
    font-size: 66px;
    line-height: 78px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.banner-desc{
	font-size: 32px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: normal;
}