.banner-container {
	min-height: 100vh;
	color: white;
	background-image: url(/assets/img/IMAGENES_FILTRO.jpg);
	background-repeat: no-repeat;
    background-position: 50% 50%;
	background-size: cover;
	padding: 90px 0px;
	padding-bottom: 50px;
	@media (min-width: 767px){
		padding: 150px 0px;
		padding-bottom: 50px;
	}
}

.banner-title {
	border: 2px solid #fff;
	display: inline-block;
    padding: 1rem 2rem;
    font-size: 31px;
    line-height: 1.2;
    text-transform: uppercase;
	letter-spacing: 1px;
	text-align: center;
	margin: 20px 0 4px;
	margin-top: 2rem;
	
	@media (min-width: 767px){
		font-size: 42px;
	}
}

.banner-desc {
	background-color: #fff;
    display: inline-block;
	padding: 1rem 2rem;
	color: #55284f;
	font-size: 18px;
    text-transform: none;
    font-weight: bold;
    letter-spacing: 2px;
	line-height: normal;
	text-align: center;
	@media (min-width: 767px){
		font-size: 28px;
	}
}

.actions {
	text-align: center;
	margin-top: 50px;
	@media (min-width: 767px){
		margin-top: 100px;
	}
}