<div class="banner-container" fxLayout="column" fxLayoutAlign="center center">
	<div class="container">
		<app-countdown [targetDate]="targetDate" currentDayMessage="The event has started!"></app-countdown>
		<h1 class="banner-title">COLOMBIA'S ANGULAR CONFERENCE</h1>
		<h2 class="banner-desc">Medellín, November 18th, 2017</h2>
		<div class="actions">
			<!-- <a md-raised-button color="primary" href="./#newsletter"><i class="fa fa-arrow-down" aria-hidden="true"></i></a> -->
			<a md-raised-button color="primary" appSmoothScroll navigateToElement="intro" href="./#newsletter"><i class="fa fa-arrow-down" aria-hidden="true"></i></a>
		</div>
	</div>
	<app-photographer-credit-link authorName="Teemu Paananen" authorId="xteemu"></app-photographer-credit-link>
</div>