<h2 class="section-title title-white">Event Speakers</h2>
<p class="section-sub-title">Listen, Learn, Get inspired.</p>
<ul class="cards-list">
	<li class="cards-item" *ngFor="let speaker of speakers" (click)="showSpeakerDetail(speaker)">
		<div class="cards-image">
			<img src="{{speaker.picture}}" alt="{{speaker.name}}">
			<md-icon class="by-phone" *ngIf="speaker.viaConferenceCall" >phone</md-icon>
		</div>
		<div class="cards-info">
			<h3 class="cards-name">{{speaker.name}}</h3>
			<p class="cards-caption">{{speaker.designation}}</p>
		</div>
	</li>
</ul>
<app-photographer-credit-link authorName="Roman Serdyuk" authorId="iamr"></app-photographer-credit-link>
