<nav class="nav-menu">
	<ul class="menu-items-container">
		<li class="menu-item"><a md-button [color]="menuColor" (click)="select()" appSmoothScroll navigateToElement="banner" href="./#banner">HOME</a></li>
		<li class="menu-item"><a md-button [color]="menuColor" (click)="select()" appSmoothScroll navigateToElement="intro" href="./#intro">ABOUT</a></li>
		<li class="menu-item"><a md-button [color]="menuColor" (click)="select()" appSmoothScroll navigateToElement="speakers" href="./#speakers">SPEAKERS</a></li>
		<li class="menu-item"><a md-button [color]="menuColor" (click)="select()" appSmoothScroll navigateToElement="pricing" href="./#pricing">TICKETS</a></li>
		<li class="menu-item"><a md-button [color]="menuColor" (click)="select()" appSmoothScroll navigateToElement="venu-info" href="./#venu-info">LOCATION</a></li>
		<li class="menu-item" *ngIf="!showPrimaryButton"><a md-button [color]="menuColor" (click)="select()" appSmoothScroll navigateToElement="newsletter" href="./#newsletter">SUBSCRIBE</a></li>
		<li class="menu-item" *ngIf="showPrimaryButton"><a md-raised-button [color]="menuColor" (click)="select()"  appSmoothScroll navigateToElement="newsletter" class="menu-main-action" href="./#newsletter">SUBSCRIBE</a></li>
	</ul>
</nav>