<div class="container">

	<h2 class="section-title title-white">Be the first to know</h2>
	<div class="subscribe-form">
		<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
		<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
		<div style="position: absolute; left: -5000px;" aria-hidden="true">
			<input type="text" name="b_6b41dea739df1ec2b457d32dd_09fd87b9db" tabindex="-1" value="">
		</div>
		<button md-raised-button type="submit" color="primary" class="button" id="mc-embedded-subscribe" >Subscribe</button>
	</div>
</div>