@import '../../style/palette';

$spacing : 40px;

.section-title, .section-sub-title {
  margin-bottom: $spacing;
}

.any-question-container{
	z-index: 1;
	position: relative;
	text-align: center;
	font-weight: bold;
}

.subscribe-form {
  margin-bottom: 15px;
  position: relative;
  max-width: 650px;
  margin-left:auto;
  margin-right:auto;
  text-align: center;
  margin-bottom: $spacing;

  * {
    box-sizing: border-box;
  }

  input.email {
    width: 100%;
    font-size: 20px;
    height: 50px;
    background: #000;
    background: rgba(0, 0, 0, 0.6);
    padding: 5px 20px;
    color: #fff;
    line-height: 1.42857143;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    border: 0px;
    border-bottom: 2px solid white;
    text-align: center;
    margin-bottom: $spacing;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    &:focus {
      box-shadow: none;
      border-color: map-get($md-ngcolombiablue, 900);
      outline: 0px;
    }
    [placeholder] {
      color: white !important;
    }
  }
  ::-webkit-input-placeholder, ::-moz-placeholder, :-ms-input-placeholder, :-moz-placeholder {
    /* Chrome/Opera/Safari */
    color: white;
  }
  
}

#fss-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.subscribe-content {
  position: relative;
  z-index: 1;
}

.contact-link {
	font-size: 18px;
	font-weight: bold;
}