<div class="container">
  <h2 class="section-title"><span class="section-underline">Community Partners</span></h2>
  <div class="community-partners-list" fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
    <div class="community-partners-item" *ngFor="let partner of partners" fxFlex="auto">
      <a href="{{partner.url}}" class="partner-image" target="_blank">
        <img src="{{partner.imgUrl}}" alt="{{partner.name}}">
        <p>{{partner.name}}</p>
      </a>
    </div>
  </div>
</div>