@import '../../style/palette';

.pricing-info-title {
    color: map-get($md-ngcolombia, 900);
    padding: 1rem;
}

h2.pricing-price {
    text-align: center;
    color: map-get($md-ngcolombia, 900);
    font-size: 3rem;
    padding: 1rem;
}

.pricing-info-content {
    padding: 24px 50px;
    margin: 20px;
    display: inline-block;
    background: white;
    border-radius: 5px;
	text-align: center;
	box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    @media (min-width: 768px) {
        margin: 10px;
    }
    h4 {
		font-size: 24px;
		margin: 20px 0px;
		font-weight: 700;
	}
	&:nth-child(2) {
		.pricing-info-title, h2.pricing-price {
			color: map-get($md-ngcolombiablue, 600);
		}

		@media(min-width: 960px) {
			transform: scale(1.2);
		}
	}
}

.pricing-notes{
	color: #aaa;
}

.section-sub-title{
	color: #fff;
}

.pricing-features {
    font-size: 1rem;
}

li.princing-item {
    padding: 1rem 0rem;
	border-bottom: 1px dotted darkgray;
	
	&:last-child{
		border-bottom: 0px;
	}
}

.pricing-container {
    background: url(/assets/img/parallax3-min.jpg) no-repeat 50% 50% transparent;
    background-size: cover;
    padding: 150px 0;
}

.pricing-items {
    margin: 20px;
    @media (min-width: 768px) {
        max-width: 85%;
        margin: 0 120px;
    }
}

.pricing-info-title {
    position: relative;
}

.pricing-price .currency {
    margin-right: 2px;
    font-size: 10px;
}