<div class="pricing-container">
  <div class="pricing-items" fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
    <div *ngFor="let price of prices, let i = index" class="pricing-info-content" fxFlex="1 grow" (click)="change(i)">
      <div>
        <div class="pricing-header">
          <h4 class="pricing-info-title">{{price.title}}</h4>
        </div>
        <div class="pricing-features">
          <ul>
            <li class="princing-item" *ngFor="let item of price.includes" [innerHTML]="item"></li>
          </ul>
        </div>
        <h2 class="pricing-price">$ {{price.value}}</h2>
        <div class="pricing-notes" [innerHTML]="price.notes"></div>
        
        <div class="pricing-checkbox">
          <label *ngIf="price.title === 'Main Conference'" class="label">
            <input  class="label__checkbox" type="checkbox" [checked]="price.checked" (change)="change(i)"/>
            <span class="label__text">
              <span class="label__check">
                <i class="fa fa-check icon"></i>
              </span>
            </span>
          </label>
          <label *ngIf="price.title !== 'Main Conference'" class="label"><h4 class="sold-out">SOLD OUT</h4></label>
        </div>
      </div>
    </div>

  </div>
  <div class="plan-action">
    <button class="mat-raised-button" (click)="save()" >Buy now</button>
  </div>
  <app-photographer-credit-link authorName="Teemu Paananen" authorId="xteemu"></app-photographer-credit-link>
</div>