@import '../../style/palette';

.pricing-info-title {
	color: map-get($md-ngcolombia, 500);
	text-transform: uppercase;
	padding: 1rem;
	font-size: 32px;
	line-height: 1.2;
}

h2.pricing-price {
    text-align: center;
    color: map-get($md-ngcolombia, 500);
    font-size: 3rem;
    padding: 1rem;
}

.pricing-info-content {
	position: relative;
    padding: 24px 40px 100px;
    margin: 20px;
    display: inline-block;
    background: white;
    border-radius: 5px;
	text-align: center;
	box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.5), 0 1px 5px 0 rgba(0,0,0,.12);
    @media (min-width: 768px) {
        margin: 10px;
    }
    h4 {
		font-size: 32px;
		margin: 20px -40px;
		font-weight: 800;
	}
	&:first-child {
		
		@media(min-width: 960px) {
			margin-right: 0px;
			border-top-right-radius: 0px;
			border-bottom-right-radius: 0px;
		}
	}
	&:last-child {
		@media(min-width: 960px) {
			margin-left: 0px;
			border-top-left-radius: 0px;
			border-bottom-left-radius: 0px;
		}
	}
	&:nth-child(2) {
		z-index: 4;
		.pricing-info-title, h2.pricing-price {
			color: map-get($md-ngcolombiablue, 600);
		}

		@media(min-width: 960px) {
			margin-left: 0px;
			margin-right: 0px;
			margin-top: -40px;
			margin-bottom: -40px;
			padding-top: 74px;
		}
	}
}

.pricing-notes{
	color: #aaa;
}

.section-sub-title{
	color: #fff;
}

.pricing-features {
    font-size: 1rem;
}

li.princing-item {
    padding: 1rem 0rem;
	border-bottom: 1px solid darkgray;
	
	&:last-child{
		border-bottom: 0px;
	}
}

.pricing-container {
    background: url(/assets/img/IMAGENES_FILTRO2.jpg) no-repeat 50% 50% transparent;
    background-size: cover;
    padding: 150px 0;
}

.pricing-items {
    margin: 20px;
    @media (min-width: 768px) {
        max-width: 85%;
        margin: 0 120px;
    }
}

.pricing-info-title {
    position: relative;
}

.pricing-price .currency {
    margin-right: 2px;
    font-size: 10px;
}

.plan-action{
	position: relative;
	text-align: center;
	margin-top: 40px;
	padding-top: 40px;
	color: white;
	button.mat-raised-button {
		background-color: #8cb1c1;
		font-size: 20px;
		text-transform: uppercase;
		line-height: 1.8;
		padding: 5px 32px !important;
		border-radius: 30px !important;
	}
}

.pricing-checkbox {
	margin: 20px 0 15px;
	display: flex;
	align-items: center;
	position: absolute;
    bottom: -15px;
    left: 0;
    right: 0;
    height: 80px;
	border-radius: 0 0 5px 5px;
	background-color: #F1F1F1;
	label {
		display: inline-block;
		margin: auto;
	}
}

.label__checkbox {
  display: none;
}

.label__check {
  display: inline-block;
  border-radius: 50%;
  border: 5px solid rgba(0,0,0,0.1);
  background: white;
  vertical-align: middle;
  width: 3em;
  height: 3em;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border .3s ease;
  
  i.icon {
    opacity: 0.2;
    font-size: 25px;
    color: transparent;
    transition: opacity .3s .1s ease;
    -webkit-text-stroke: 3px rgba(0,0,0,.5);
  }
  
  &:hover {
    border: 5px solid rgba(0,0,0,0.2);
  }
}

.label__checkbox:checked + .label__text .label__check {
  animation: check .5s cubic-bezier(0.895, 0.030, 0.685, 0.220) forwards;
  
  .icon {
    opacity: 1;
    transform: scale(0);
    color: white;
    -webkit-text-stroke: 0;
    animation: icon .3s cubic-bezier(1.000, 0.008, 0.565, 1.650) .1s 1 forwards;
  }
}

.center {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
}

@keyframes icon {
  from {
    opacity: 0;
    transform: scale(0.3);
  }
  to {
    opacity: 1;
    transform: scale(1)
  }
}

@keyframes check {
  0% {
    width: 1.5em;
    height: 1.5em;
    border-width: 5px;
  }
  10% {
    width: 1.5em;
    height: 1.5em;
    opacity: 0.1;
    background: rgba(0,0,0,0.2);
    border-width: 15px;
  }
  12% {
    width: 1.5em;
    height: 1.5em;
    opacity: 0.4;
    background: rgba(0,0,0,0.1);
    border-width: 0;
  }
  50% {
    width: 2.8em;
    height: 2.8em;
    background: #5b1249;
    border: 0;
    opacity: 0.6;
  }
  100% {
    width: 3em;
    height: 3em;
    background: #5b1249;
    border: 5px solid transparent;
    opacity: 1;
  }
}