<md-sidenav-container>
	<md-sidenav #sidenav class="sidenav">
		<app-logo></app-logo>
		<app-nav-menu (onMenuItemSelected)="closeNav($event)" menuColor="accent"></app-nav-menu>
	</md-sidenav>
	<header>
		<app-header (onToggleNav)="openNav($event)"></app-header>
	</header>
	<app-main-page>
	</app-main-page>
</md-sidenav-container>
<div [ngClass]="{'md-fab-bottom-right': true, 'hide': hideBackToTop}">
<button md-fab color="primary" appSmoothScroll navigateToElement="banner" href="./#banner">
	<md-icon class="md-24" aria-label="Back to top">keyboard_arrow_up</md-icon>
</button>
</div>