<div class="purchaseform-container">
  <div class="left-pane pane">
    <img src="assets/img/logo-white.svg" alt="ng-colombia logo">
  </div>
  <div class="right-pane pane">
    <div class="selected-items">
      <div class="purchase-item" *ngFor="let item of attendantInformation.tickets, let i = index">
        <div class="item-wrapper">
          <div class="item-name">{{purchaseItemsLabels[item.ticketCode].name | uppercase}}</div>
          <div class="item-value">{{purchaseItemsLabels[item.ticketCode].cost | currency:'USD':true:'2.0-0'}}</div>
        </div>
        <span class="remove-item" (click)="removeItem(i)"><i class="fa fa-times-circle"></i></span> 
      </div>
      <div class="purchase-total">
        <div class="item-name">{{'Total' | uppercase}}</div>
        <div class="item-value">{{purchaseTotal | currency:'USD':true:'2.0-0'}}</div>
      </div>
    </div>
    <div class="welcome-text">
      <p>Welcome!
        <br>Thanks for choosing to attend
        <strong>NG-COLOMBIA</strong>.
        <br>Please fill your information in the requiered fields.
      </p>
    </div>
    <div class="form-container">
      <form [formGroup]="attendantInformationForm" (ngSubmit)="onSubmit()">
        <div>
          <md-form-field class="full-width">
            <input [(ngModel)]="attendantInformation.customerName" name="fullName" mdInput placeholder="FULL NAME" formControlName="fullName">
            <md-error *ngIf="attendantInformationForm.get('fullName').hasError('required')">
              Name is
              <strong>required</strong>
            </md-error>
          </md-form-field>
        </div>

        <div>
          <md-form-field class="full-width">
            <input [(ngModel)]="attendantInformation.email" name="email" mdInput placeholder="EMAIL" formControlName="email">
            <md-error *ngIf="attendantInformationForm.get('email').hasError('required')">
              Email address is
              <strong>required</strong>
            </md-error>
            <md-error *ngIf="attendantInformationForm.get('email').hasError('pattern')">
              Please enter a valid email address
            </md-error>
          </md-form-field>
        </div>

        <div>
          <md-form-field class="full-width">
            <input [(ngModel)]="attendantInformation.confirmationEmail" name="emailConfirmation" mdInput placeholder="EMAIL CONFIRMATION"
              formControlName="emailConfirmation">
            <md-error *ngIf="attendantInformationForm.get('emailConfirmation').hasError('required')">
              Email address confirmation is
              <strong>required</strong>
            </md-error>
            <md-error *ngIf="attendantInformationForm.get('emailConfirmation').hasError('pattern')">
              Please enter a valid email address
            </md-error>
            <md-error *ngIf="attendantInformationForm.get('emailConfirmation').hasError('mismatchedEmails')">
              Email addresses
              <strong>must match</strong>
            </md-error>
          </md-form-field>
        </div>
        <div>
          <md-form-field class="full-width">
            <input [(ngModel)]="attendantInformation.customerId" name="idNumber" mdInput placeholder="I.D. NUMBER" formControlName="idNumber">
            <md-error *ngIf="attendantInformationForm.get('idNumber').hasError('required')">
              ID number is
              <strong>required</strong>
            </md-error>
            <md-error *ngIf="attendantInformationForm.get('idNumber').hasError('pattern')">
              Wrong format:
              <strong>only alphanumeric characters allowed</strong>
            </md-error>
          </md-form-field>
        </div>
        <div>
          <md-form-field class="full-width">
            <input [(ngModel)]="attendantInformation.customerPhoneNumber" name="phone" type="tel" mdInput placeholder="PHONE" formControlName="phone">
            <md-error *ngIf="attendantInformationForm.get('phone').hasError('required')">
              Phone number is
              <strong>required</strong>
            </md-error>
            <md-error *ngIf="attendantInformationForm.get('phone').hasError('pattern')">
              Wrong format:
              <strong>only numbers allowed</strong> and
              <strong>minimum length is 7</strong>
            </md-error>

          </md-form-field>
        </div>
        <button type="submit" [disabled]="!captchaIsValid" class="btn">GET TICKETS</button>
        <div class="captcha" [ngClass]="{'not-visible': captchaIsValid}">
          <recaptcha (resolved)="resolved($event)" theme="light" siteKey="6LdaQTUUAAAAAHe0phhxaTWw5yInUlGLzJ4wOR9P" required></recaptcha>
        </div>
      </form>
    </div>
  </div>
</div>