<section class="slide" id="banner">
	<app-main-banner></app-main-banner>
</section>
<section id="intro">
	<app-about-us class="container"></app-about-us>
</section>
<section id="speakers" class="bg-overlay">
	<app-speakers></app-speakers>
</section>
<section id="newsletter" class="bg-pattern">
	<app-newsletter-form class="container"></app-newsletter-form>
</section>
<section id="venu-info">
	<app-venu-information></app-venu-information>
</section>
<section id="location-map">
	<app-location-map></app-location-map>
</section>