/* For use in src/lib/core/theming/_palette.scss */
$md-ngcolombia: (
    50 : #fde3e7,
    100 : #fab9c4,
    200 : #f78b9d,
    300 : #f35c75,
    400 : #f13958,
    500 : #ee163a,
    600 : #ec1334,
    700 : #e9102c,
    800 : #e70c25,
    900 : #e20618,
    A100 : #ffffff,
    A200 : #ffd7d9,
    A400 : #ffa4a9,
    A700 : #ff8b91,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-ngcolombiasec: (
    50 : #e4e4e5,
    100 : #bbbbbd,
    200 : #8e8e92,
    300 : #606066,
    400 : #3e3e45,
    500 : #1c1c24,
    600 : #191920,
    700 : #14141b,
    800 : #111116,
    900 : #09090d,
    A100 : #ffe57f,
    A200 : #ffd740,
    A400 : #ffc400,
    A700 : #ffab00,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #ffffff,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);