/* For use in src/lib/core/theming/_palette.scss */
$md-ngcolombia: (
    50 : #ebe3e9,
    100 : #ceb8c8,
    200 : #ad89a4,
    300 : #8c5980,
    400 : #743664,
    500 : #5b1249,
    600 : #531042,
    700 : #490d39,
    800 : #400a31,
    900 : #2f0521,
    A100 : #ff69c4,
    A200 : #ff36b1,
    A400 : #ff039d,
    A700 : #e8008e,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);


$md-ngcolombiasec: (
    50 : #e4e4e5,
    100 : #bbbbbd,
    200 : #8e8e92,
    300 : #606066,
    400 : #3e3e45,
    500 : #1c1c24,
    600 : #191920,
    700 : #14141b,
    800 : #111116,
    900 : #09090d,
    A100 : #ffe57f,
    A200 : #ffd740,
    A400 : #ffc400,
    A700 : #ffab00,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #ffffff,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$md-ngcolombiablue: (
    50 : #f2f6f8,
    100 : #dfeaee,
    200 : #cadce3,
    300 : #b4cdd8,
    400 : #a4c3cf,
    500 : #94b8c7,
    600 : #8cb1c1,
    700 : #81a8ba,
    800 : #77a0b3,
    900 : #6591a6,
    A100 : #ffffff,
    A200 : #e5f7ff,
    A400 : #b3e6ff,
    A700 : #99ddff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);


