@import '~@angular/material/theming';
@import 'palette';
@include mat-core();
$primary: mat-palette($md-ngcolombia);
$accent:  mat-palette($md-ngcolombiasec);
$warn:  mat-palette($mat-red, 600, 100, 800);
$brainshark-app-theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($brainshark-app-theme);

.mat-raised-button {
	border-radius: 25px !important;
	padding: 3px 28px !important;
}

.mat-raised-button.toogle-side-bar {
	border-radius: 3px !important;
	padding: 10px !important;
	min-width: 0px;
}

strong{
	color: map-get($primary, 900);
}

app-about-us .information-container{
	.mat-tab-header{
		display: none;
	}
}