@import '../../style/palette';

.time-box {
	color: map-get($md-ngcolombiablue, 300);
}

.countdown-container {
	width: 80%;
	margin: 20px auto 0;
	@media (min-width: 529px) {
		margin-top: 0;
	}

}

@media (max-width: 767px) {
	width: 100%;
}