.days {
	color: #ee163a;
}

.hours {
	color: #FFC107;
}

.minutes {
	color: #03A9F4;
}

.seconds {
	color: #8BC34A;
}

.countdown-container {
	width: 80%;
	margin: 20px auto 0;
	@media (min-width: 529px) {
		margin-top: 0;
	}

}

@media (max-width: 767px) {
	width: 100%;
}