<div class="purchaseform-container">
  <div class="left-pane pane">
    <img src="assets/img/logo-white.svg" alt="ng-colombia logo">
  </div>
  <div class="right-pane pane">
    <div class="pane-container" *ngIf="checkoutResponse">
      <section>
          <h1>CONGRATULATIONS!</h1>
          <p>Now you are part of the first conference of Angular in Latin America</p>
          <h2>NG-COLOMBIA</h2>
	  </section>
	  <section>
        <p class="label">Description:</p>
        <p class="purchase-info">{{checkoutResponse.description}}</p>
      </section>
	  <section>
        <p class="label">Transaction Date:</p>
        <p class="purchase-info">{{checkoutResponse.processDate}}</p>
      </section>
      <section>
        <p class="label">Reference Code:</p>
        <p class="purchase-info">{{checkoutResponse.referenceId}}</p>
      </section>
      <section>
        <p class="label">YOUR PURCHASE:</p>
        <p class="purchase-info">$ {{checkoutResponse.value}} {{checkoutResponse.currency}}</p>
      </section>
    </div>
  </div>
</div>