<div class="purchaseform-container">
  <div class="left-pane pane">
    <img src="assets/img/logo-white.svg" alt="ng-colombia logo">
  </div>
  <div class="right-pane pane">
    <div class="pane-container">
      <section>
          <h1>CONGRATULATIONS!</h1>
          <p>Now you are part of the first conference of Angular in Latin America</p>
          <h2>NG-COLOMBIA</h2>
      </section>
      <section>
        <p class="label">YOUR NAME:</p>
        <p class="purchase-info">Carlos Angulo</p>
      </section>
      <section>
        <p class="label">YOUR PURCHASE:</p>
        <p class="purchase-info">$ 45.00 USD</p>
      </section>
    </div>
  </div>
</div>