.logo-container{
	font-size: 21px;
    padding: 28px 15px;
	font-weight: bold;
	@media (min-width:780px) {
		font-size: 30px;
		padding: 28px 30px;
	}
	
	.logo-text{
		white-space: nowrap;
	}
}

.angular-logo{
	height: 60px;
	width: auto;
	margin-right: 10px;
}