.img-container {
    width: 40%;
    display: none;
    margin-right: 30px;
    @media (min-width: 992px) {
        display: block;
        float: left;
    }
    img {
        display: block;
        width: 100%;
    }
}

.speaker-content{
    margin: 30px 50px 0;

    .mat-dialog-title{
        color: #7d1a65;
    }
}

md-dialog-content{
    display: block;
    margin: 0;
    &:after{
        display: block;
        content: "";
        clear: both;
    }
}

.mat-dialog-content{
    padding: 0 0;
}

a .fa-twitter{
    color: #0077b5;
}


