@import '../../style/palette';

.time-range {
	font-weight: bold;
}

.event-image > img {
	border-radius: 5px;
}

.event-image, .time-range {
	padding-right: 20px;
}

.time-range.repeat-time-for-mobile{
	display: none;
	@media(max-width: 599px) {
		display: block;
		margin-top: 10px;	
	}
}

.event-spot {
	margin-bottom: 10px;
}

.event-name {
	margin: 5px 0px;
	font-weight: 700;
	font-size: 20px;
}

.center{
	text-align: center;
}

.event-facilitator {
	color: map-get($md-ngcolombiablue, 900);
	margin: 0;
	font-size: 16px;
	font-weight: bold;
}

.main-conference{
	font-size: 30px;
    line-height: 45px;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 15px;
	position: relative;
	text-align: center;
	color: map-get($md-ngcolombia, 500);
}

.break{
	display: block;
    font-size: 18px;
    margin: 30px auto 60px;
    text-align: center;
}

.highlighted {
	background-color: rgba(121, 62, 106, 0.1);
}

.event-content{
	cursor: pointer;
}
