.venu-info-content {
	text-align: center;
	padding: 0px 15px;
	margin-bottom: 30px;
	
	h4{
		font-size: 24px;
		margin: 20px 0px;
		font-weight: 700;
	}
}
.venu-items{
	margin-top: 20px;
}
.venu-info-title{
	text-transform: uppercase;
	color: #52284F;
	font-weight: bold;
	font-family: Poppins, sans-serif;
}

.section-title{
	margin-top: 40px;
	margin-bottom: 60px
}

md-icon{
	height: auto !important;
	width: auto !important;
}