.venu-info-content {
	text-align: center;
	padding: 0px 15px;
	margin-bottom: 30px;
	
	h4{
		font-size: 24px;
		margin: 20px 0px;
		font-weight: 700;
	}
}

.venu-info-title{
	text-transform: uppercase;
	color: #7d1a65;
}