<div class="container">
	<h2 class="section-title">Venue Information</h2>
	<div class="venu-items" fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
		<div class="venu-info-content" fxFlex="1 grow">
			<div class="venu-icon">
				<md-icon class="md-48 md-primary" color="primary" aria-hidden="true">location_on</md-icon>
			</div>
			<h4 class="venu-info-title">Location</h4>
			<div class="venu-info-description">
				<p>
					The conference takes place at <strong>Plaza Mayor conference center</strong> near to <i>Edificio Inteligente</i> and <i>Parque de los pies descalzos</i>.
				</p>
				<p><strong>SALÓN DE CONFERENCIAS A + B</strong></p>
				<p><strong>Calle 41 N° 55-80</strong></p>
			</div>
			<div class="actions">
				<a href="http://www.plazamayor.com.co/" class="read-more" target="_blank" color="primary" md-button>Read more about Plaza Mayor</a>
			</div>
		</div>
		<div class="venu-info-content" fxFlex="1 grow">
			<div class="venu-icon">
				<md-icon class="md-48 md-primary" color="primary" aria-hidden="true">directions_bus</md-icon>
			</div>
			<h4 class="venu-info-title">Transportation</h4>
			<div class="venu-info-description">
				<p>
					To get to the venue place, you can take:
				</p>
				<p> <strong>Metro system</strong> until <strong>Alpujarra station</strong></p>
				<p><strong>Metroplus system</strong> until <strong>Plaza Mayor bus station</strong> </p>
				<p>or you can take one of the city bus lines.</p>
			</div>
			<div class="actions">
				<a href="http://tdurand.github.io/mapamedellin/" class="read-more" target="_blank" color="primary" md-button>Find your route!</a>
			</div>
		</div>
		<div class="venu-info-content" fxFlex="1 grow">
			<div class="venu-icon">
				<md-icon class="md-48 md-primary" color="primary" aria-hidden="true">help</md-icon>
			</div>
			<h4 class="venu-info-title">Help</h4>
			<div class="venu-info-description">
				<p>
					CONTACT US! if you have any questions we can help you, feel free to wonder at
				</p>
			</div>
			<div class="actions">
				<a href="mailto:ngcolombiaconf@gmail.com" class="read-more" color="primary" md-button>ngcolombiaconf@gmail.com</a>
			</div>
		</div>
	</div>

</div>